<h3>
    Pokemon Cards
</h3>

<div>
    <form [formGroup]="myForm">
        <div>
            <label>Search</label>
            <input type="text" formControlName="name">
        </div>
        <button type="button" (click)="onSubmit()" [disabled]="!myForm.valid">
            Submit
        </button>

    </form>
</div>

<div *ngIf="pokemon">
    <div *ngFor="let item of pokemon.data">
        <img [src]="item.images.small">
    </div>
</div>