<form [formGroup]="myForm">
    <div>
        <label>My Number</label>
        <input type="text" formControlName="myNumber">
    </div>
    <div>
        <label>My Random Number</label>
        <input type="text" formControlName="myRandomNumber">
    </div>
    <button type="button" (click)="generateRandom()">
        Randomize
    </button>
    <button type="button" (click)="onSubmit()" [disabled]="!myForm.valid">
        Submit
    </button>

</form>