<div>
    <header>
        <h1>POKEMON RANDOM CARD GENERATOR</h1>
    </header>

    <ul>
        <li><a [routerLink]="['/pokemon/cards']">Cards</a></li>
        <li><a [routerLink]="['/pokemon/sets']">Sets</a></li>
    </ul>

    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        Source: <a href="https://pokemontcg.io/">Pokemon TCG API</a>
    </footer>
</div>