<header>This is main header</header>

<ul>
    <li><a [routerLink]="['/']" routerLinkActive="my-active-link" [routerLinkActiveOptions]="{exact:
        true}">Dashboard</a></li>
    <li><a [routerLink]="['/','account']" routerLinkActive="my-active-link" [routerLinkActiveOptions]="{exact:
        true}">Account</a></li>
    <li><a [routerLink]="['/','rform']" routerLinkActive="my-active-link" [routerLinkActiveOptions]="{exact:
        true}">Reactive Form</a></li>
</ul>

--start main content--
<main>
    <router-outlet></router-outlet>
</main>
--end main content--
<footer>This is main footer</footer>