<h3>
    Pokemon Sets
</h3>

<div>
    <form [formGroup]="myForm">
        <div>
            <label>Search</label>
            <input type="text" formControlName="name">
        </div>
        <button type="button" (click)="onSubmit()">
            Submit
        </button>

    </form>
</div>

<div *ngIf="pokemonset">
    <div *ngFor="let item of pokemonset.data">
        <img [src]="item.images.logo">
    </div>
</div>